@import '../../assets/styles/adaptaion';

.m-list-item{
  display: flex;
  border-top: .02*$rem solid #dce0e3;
  padding: .1*$rem 0;

  .img{
    display: block;
    width: 2*$rem;
    height: 1.2*$rem;
    margin-right: .1*$rem;
  }

  .subject{
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .title{
    font-size: .22*$rem;
    font-weight: 700;
    color: #333;
  }

  .content{
    margin-top: .1*$rem;
    color: #7b7b7b;
  }

  .summary{
    width: 3.75*$rem;
    margin-bottom: .1*$rem;
    font-size: .2*$rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  .tag{
    font-size: .2*$rem;
    color: #999;
  }

  .createTime{
    margin-right: .05*$rem;
  }
}