// 适配单位
@import "./assets/styles/adaptaion";

html{
  font-size: 1*$rem;
}

// iconfont图标 默认尺寸
:global(.iconfont){
  font-size: .2*$rem;
}
:global(.iconfont:before){
  font-family:"iconfont" !important;
}