.m-banner{

  .slider{
    position: relative;
    background-color: #7b7b7b;
  }

  img{
    display: block;
  }

  .title{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: .18rem .55rem;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.4);
    font-size: .18rem;
    color: #fff;
    text-align: center;
  }

  @mixin slick-box{
    width: .4rem;
    height: .4rem;
  }
  :global(.slick-prev){
    @include slick-box;
    left: -.45rem;
  }
  :global(.slick-next){
    @include slick-box;
    right: -.45rem;
  }

  @keyframes fade {
    0% {opacity: 0.5}
    50% {opacity: 1}
    100% {opacity: 0.5}
  }
  @mixin slick-icon{
    font-size: .4rem;
    font-weight: 700;
    color: #ffd100;
    animation: fade 1s infinite;
  }
  :global(.slick-prev:before){
    @include slick-icon;
  }
  :global(.slick-next:before){
    @include slick-icon;
  }

}